<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="blueteammathquiz.quizgame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".segments.login.view.LoginActivity"/>
        <activity android:name=".segments.login.view.RegisterActivity"/>
        <activity android:name=".segments.instructions.view.InstructionsActivity" />
        <activity
            android:name=".segments.practice.view.PracticeLevelActivity"
            android:label="Practice" />
        <activity
            android:name=".segments.game.view.QuestionActivity"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".segments.game.view.ResultActivity" />
        <activity
            android:name=".segments.home.view.SelectionLevelHomeScreen"
            android:label="Welcome!">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".segments.splash.view.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".segments.game.view.WonActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".segments.login.view.RegisterActivity"></activity>
    </application>

</manifest>